#pageContent
  //
    p Run a console to see JSON data.
      br/
    p  Ctrl+Shift+k in Firefox with 'Net' and 'JS' sources enabled
    p Shift+Ctrl+I for Chromium
    hr/
  ul.breadcrumb
    li 
      a(href="/soc") List of SOC
    span.divider
    if (typeof(socname) != 'undefined' && typeof(datapoint) == 'undefined')
      li 
        a(href="/soc/view?soc="+socname) SOC: #{socname}
      span.divider
      if (typeof(tag) != 'undefined')
        li 
          a(href="/soc/view?soc="+socname+"&tag="+tag._id) Tag: #{tag.title}
      span.divider
    else if (typeof(datapoint) != 'undefined')
      li 
        a(href="/soc/view?soc="+datapoint.soc) SOC: #{datapoint.soc}
      span.divider
      if (typeof(tag) != 'undefined')
        li 
          a(href="/soc/view?soc="+datapoint.soc+"&tag="+tag._id) Tag: #{tag.title}
       span.divider
    if (typeof(datapoint) == 'undefined')
      li.active New Datapoint
    else
      li.active #{datapoint.title}


  div#post_form
    span.bold
      - if (typeof(datapoint) != 'undefined')
        form#datapoint_form_update
          //update datapoint
          input(name="id", value=datapoint._id, type="hidden")
          input(type="hidden", id="soc", name="soc", value=datapoint.soc)
          label(for="title") Title
          input(type="text", name="title", value=datapoint.title)
          label(for="location") Location
          input(type="text", id="location", name="location", value=datapoint.Location.title)
          label(for="latitude") Latitude
          input(type="text", id="latitude", name="latitude", value=datapoint.Location.latitude)
          label(for="longitude") Longitude
          input(type="text", id="longitude", name="longitude", value=datapoint.Location.longitude)
          label(for="description") Description
          textarea(name="description", rows="4", cols="60") #{datapoint.description}
          label(for="tags") Tags
          select(multiple id="tag_list", name="tag_list")
            for tag in datapoint.tags
              option(selected=tag._id, value=tag._id) #{tag.title}
          br/
          input(type="submit", value="Save")
      - else
        form#datapoint_form
          //if SOC is present in the URL, it means we create a datapoint from a SOC, no need to give option to change SOC 
          //create datapoint
          input(type="hidden", id="soc", name="soc", value=socname)
          label(for="title") Title
          input(type="text", name="title")
          label(for="location") Location
          input(type="text", id="location", name="location")
          label(for="latitude") Latitude
          input(type="text", id="latitude", name="latitude")
          label(for="longitude") Longitude
          input(type="text", id="longitude", name="longitude")
          label(for="description") Description
          textarea(name="description", rows="4", cols="60")
          label(for="tags") Tags
          select(multiple="multiple", id="tag_list", name="tag_list")
            //if there was tag argument in URL, we auto select it when we create this datapoint
            if (typeof(tag) != 'undefined')
              option(selected=tag, value=tag._id) #{tag.title}
          br/
          input(type="submit", value="Save")

  //
    hr/
    div#get-div
      input(type="submit", value="$.get()", id="get")
    hr/
    span.bold
      p Status
    div#status
    hr/
    span.bold
      p Data
    div#result
    hr/
    span.bold
      p Poorly Consumed Data
    div#consumed
      table(id="consumed_table")

script
  var datapoint_form = $('#datapoint_form');
  var datapoint_form_update = $('#datapoint_form_update');
