#pageContent
  p Run a console to see JSON data.
    br/
  p  Ctrl+Shift+k in Firefox with 'Net' and 'JS' sources enabled
  p Shift+Ctrl+I for Chromium

  hr/
  div#post_form
    span.bold
      - if (typeof(datapoint) != 'undefined')
        form#datapoint_form_update
          input(type="text", name="id", value=datapoint._id, type="hidden")
          label(for="soc") SOC
          select(id="soc", name="soc")
            option(selected=datapoint.soc, value=datapoint.soc) #{datapoint.soc}
          label(for="title") Title
          input(type="text", name="title", value=datapoint.title)
          label(for="location") Location
          input(type="text", id="location", name="location", value=datapoint.Location.title)
          label(for="latitude") Latitude
          input(type="text", id="latitude", name="latitude", value=datapoint.Location.latitude)
          label(for="longitude") Longitude
          input(type="text", id="longitude", name="longitude", value=datapoint.Location.longitude)
          label(for="description") Description
          textarea(name="description", rows="4", cols="60") #{datapoint.description}
          label(for="tags") Tags
          select(multiple id="tag_list", name="tag_list")
            for tag in datapoint.tags
              option(selected=tag._id, value=tag._id) #{tag.title}
          br/
          input(type="submit", value="save")
      - else
        p New Datapoint
        form#datapoint_form
          label(for="soc") SOC
          select(id="soc", name="soc")
          label(for="title") Title
          input(type="text", name="title")
          label(for="location") Location
          input(type="text", id="location", name="location")
          label(for="latitude") Latitude
          input(type="text", id="latitude", name="latitude")
          label(for="longitude") Longitude
          input(type="text", id="longitude", name="longitude")
          label(for="description") Description
          textarea(name="description", rows="4", cols="60")
          label(for="tags") Tags
          select(multiple id="tag_list", name="tag_list")
          br/
          input(type="submit", value="save")

  hr/
  div#get-div
    input(type="submit", value="$.get()", id="get")

  hr/
  span.bold
    p Status
  div#status

  hr/
  span.bold
    p Data
  div#result

  hr/
  span.bold
    p Poorly Consumed Data
  div#consumed
    table(id="consumed_table")

script
  var datapoint_form = $('#datapoint_form');
  var datapoint_form_update = $('#datapoint_form_update');
