div#wrap

  a(href='datapoint/create') New

  table#datapoint
    thead
      tr
        th title
        th soc
        th location
        th tags
        th modified
        th by
        th created
        th by
        th actions
    tbody
     each datapoint, i in datapoints
        tr(id="row_"+datapoint._id)
          td
            a(href="/datapoint/edit?id="+datapoint._id) #{datapoint.title}
          td
            span #{datapoint.soc}
          td
            span #{datapoint.Location.title}
          td
            each tags in datapoint.tags
              span #{tags.title} <br />
          td
            span #{datapoint.modified}
          td
            span #{datapoint.modifiedBy.name}
          td
            span #{datapoint.created}
          td
            span #{datapoint.createdBy.name}
          td 
            a(href="#", id="delete_"+datapoint._id) delete
