extends layout
block head
  script(src="/javascript/datapoint_form.js")
  script(src='http://maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyCdCNPG_4JmvjQjbXVyB_W6Ena7b7CIqns&sensor=false')
  script(src='/javascript/jquery.auto-geocoder.js')
  script(src='/javascript/utils.js')
  script(src='/javascript/select2.min.js')


block pageContent
  //
    p Run a console to see JSON data.
      br/
    p  Ctrl+Shift+k in Firefox with 'Net' and 'JS' sources enabled
    p Shift+Ctrl+I for Chromium
    hr/
  ul.breadcrumb
    li 
      a(href="/soc") List of SOC
      span.divider
    if (typeof(socname) != 'undefined' && typeof(datapoint) == 'undefined')
      li 
        a(href="/soc/view?soc="+socname) SOC: #{socname}
        span.divider
      if (typeof(tag) != 'undefined')
        li 
          a(href="/soc/view?soc="+socname+"&tag="+tag[0]._id) Tag: #{tag[0].title}
          span.divider
    else if (typeof(datapoint) != 'undefined')
      li 
        a(href="/soc/view?soc="+datapoint.soc) SOC: #{datapoint.soc}
        span.divider
      if (typeof(tag) != 'undefined')
        li 
          a(href="/soc/view?soc="+datapoint.soc+"&tag="+tag[0]._id) Tag: #{tag[0].title}
          span.divider
    if (typeof(datapoint) == 'undefined')
      li.active New Datapoint
    else
      li.active #{datapoint.soc}-#{datapoint.serialNumber}


  div#post_form
    span.bold
      - if (typeof(datapoint) != 'undefined')
        form(id="datapoint_form_update",class="form-horizontal")
          //update datapoint
          input(name="id", value=datapoint._id, type="hidden")
          input(type="hidden", id="soc", name="soc", value=datapoint.soc)
          div(class="control-group")
            label(class="control-label",for="title") Event
            div(class="controls")
              input(type="text", name="title", value=datapoint.title, class="span6")
           div(class="control-group")
            label(class="control-label", for="event_date") Event Date
            div(class="controls")
              input(type="text", class="span2", name="event_date", id="event_date", value=datapoint.event_date)
          div(class="control-group")
            label(class="control-label",for="location") Location
            div(class="controls")
              input(type="text", id="location", name="location", value=datapoint.Location.title)
          div(class="control-group")
            label(class="control-label",for="latitude") Latitude/Longitude
            div(class="controls controls-row")
              input(type="text", class="span2",id="latitude", name="latitude", value=datapoint.Location.latitude)
              input(type="text", class="span2",id="longitude", name="longitude", value=datapoint.Location.longitude)
              span(class="help-inline") Only change those values if you want to adjust the position on the map manually
          div(class="control-group")
            label(class="control-label",for="description") Description
            div(class="controls")
              textarea(name="description", rows="6", class="span6" ) #{datapoint.description}
          div(class="control-group")
            label(class="control-label",for="comment") Comment
            div(class="controls")
              textarea(name="comment", rows="4", class="span6") #{datapoint.comment}
              span(class="help-inline") This field is for analysts' comments and questions about the event. It is not open to the public. 
          div(class="control-group")
            label(class="control-label",for="stage") Stage
            div(class="controls")
              select(name="stage",id="stage")
                if (typeof(datapoint.stage) == 'undefined')
                  option(selected=true,value="") -Choose Genocide Stage-
                  option(value="Symbolization") Symbolization
                  option(value="Discrimination") Discrimination
                  option(value="Dehumanization") Dehumanization
                  option(value="Organization") Organization
                  option(value="Polarization") Polarization
                  option(value="Preparation") Preparation
                  option(value="Persecution") Persecution
                  option(value="Extermination") Extermination
                  option(value="Denial") Denial
                else
                  option(value="Symbolization",selected=(datapoint.stage=="symbolization")) Symbolization
                  option(value="Discrimination",selected=(datapoint.stage=="discrimination")) Discrimination
                  option(value="Dehumanization",selected=(datapoint.stage=="dehumanization")) Dehumanization
                  option(value="Organization",selected=(datapoint.stage=="organization")) Organization
                  option(value="Polarization",selected=(datapoint.stage=="polarization")) Polarization
                  option(value="Preparation",selected=(datapoint.stage=="preparation")) Preparation
                  option(value="Persecution",selected=(datapoint.stage=="persecution")) Persecution
                  option(value="Extermination",selected=(datapoint.stage=="extermination")) Extermination
                  option(value="Denial",selected=(datapoint.stage=="denial")) Denial
              span(class="help-inline")
                a(href="http://genocidewatch.org/aboutgenocide/8stagesofgenocide.html", target="_blank") Read definitions
          div(class="control-group")
            label(class="control-label",for="tags") Tags
            div(class="controls")
              select(multiple id="tag_list", name="tag_list")
                for tag in datapoint.tags
                  option(selected=tag._id, value=tag._id) #{tag.title}
              button(type="button", class="btn btn-small", data-toggle="modal", data-target="#myModal") Create New Tag
          div(class="form-actions")
            button(type="submit", class="btn btn-success") Save
            p   
            button(type="button",  id="archive", class="btn btn-info") Archive
      - else
        form(id="datapoint_form", class="form-horizontal")
          //if SOC is present in the URL, it means we create a datapoint from a SOC
          //create datapoint
          input(type="hidden", id="soc", name="soc", value=socname)
          div(class="control-group")
            label(class="control-label", for="title") Event
            div(class="controls")
              input(type="text", name="title",class="span6")
          div(class="control-group")
            label(class="control-label", for="event_date") Event Date
            div(class="controls")
              input(type="text", class="span2", name="event_date", id="event_date")
          div(class="control-group")
            label(class="control-label", for="location") Location
            div(class="controls")
              input(type="text", id="location", name="location")
          div(class="control-group")
            label(class="control-label",for="latitude") Latitude/Longitude
            div(class="controls controls-row")
              input(type="text", class="span2", id="latitude", name="latitude")
              input(type="text", class="span2", id="longitude", name="longitude")
              span(class="help-inline") Only change those values if you want to adjust the position on the map manually
          div(class="control-group")
            label(class="control-label",for="description") Description
            div(class="controls")
              textarea(name="description", rows="6", class="span6")
          div(class="control-group")
            label(class="control-label",for="comment") Comment
            div(class="controls")
              textarea(name="comment", rows="4", class="span6")
              span(class="help-inline") This field is for analysts' comments and questions about the event. It is not open to the public. 
          div(class="control-group")
            label(class="control-label",for="stage") Stage
            div(class="controls")
              select(name="stage")
                option(selected=true,value="") -Choose Genocide Stage-
                option(value="Symbolization") Symbolization
                option(value="Discrimination") Discrimination
                option(value="Dehumanization") Dehumanization
                option(value="Organization") Organization
                option(value="Polarization") Polarization
                option(value="Preparation") Preparation
                option(value="Persecution") Persecution
                option(value="Extermination") Extermination
                option(value="Denial") Denial
              span(class="help-inline")
                a(href="http://genocidewatch.org/aboutgenocide/8stagesofgenocide.html", target="_blank") Read definitions
          div(class="control-group")
            label(class="control-label",for="tags") Tags
            div(class="controls")
              select(multiple="multiple", id="tag_list", name="tag_list")
              //if there was tag argument in URL, we auto select it when we create this datapoint
              if (typeof(tag) != 'undefined')
                option(selected=tag, value=tag[0]._id) #{tag[0].title}
              span(class="help-inline")
                button(type="button", class="btn btn-small", data-toggle="modal", data-target="#myModal") Create New Tag
          div(class="form-actions")
            button(type="submit", class="btn btn-success") Save
  //Modal to create tag from inside the datapoint          
  div(id="myModal",class="modal hide fade",tabindex="-1",role="dialog",aria-labelledby="myModalLabel",aria-hidden="true")
    form(id="tag_form",class="form-horizontal")
      div(class="modal-header")
        button(type="button",class="close",data-dismiss="modal",aria-hidden="true") x
        h4(id="myModalLabel") Create New Tag
      div(class="modal-body")
          //datapoint.soc if we update datapoint instead of socname
          if (typeof(datapoint) != 'undefined')
            input(type="hidden", id="soc", name="soc", value=datapoint.soc)
          else
            input(type="hidden", id="soc", name="soc", value=socname)
          div(class="control-group")
            label(class="control-label",for="title") Title
            div(class="controls")
              input(type="text", name="title", id="tagtitle")
          div(class="control-group")
            label(class="control-label",for="description") Description
            div(class="controls")
              textarea(name="description", rows="4", cols="60")
      div(class="modal-footer")
        button(class="btn",data-dismiss="modal",aria-hidden="true") Cancel
        button(type="submit",class="btn btn-success") Create New Tag

  script
    var datapoint_form = $('#datapoint_form');
    var datapoint_form_update = $('#datapoint_form_update');
    var referringURL = document.referrer;
