!!!
html(lang="en")
  head
    meta(name="author",content="The Sentinel Project")
    meta(name="description",content="Data Visualization of Atrocities and Intercommunal Violence in Kenya, compiled by the Kenya research analysts from The Sentinel Project")
    meta(property="og:title",content=title)
    meta(property="og:type",content='website')
    meta(property="og:description",content="Data Visualization of Atrocities and Intercommunal Violence in Kenya, compiled by the Kenya research analysts from The Sentinel Project")
    meta(property="og:url",content="http://threatwiki.thesentinelproject.org/kenyavisualization")
    meta(property="og:image",content="http://thesentinelproject.org/wp-content/uploads/kenyavisualization.png")
    title #{title}
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.min.css')
    script(type='text/javascript', src='/javascript/jquery.min.js')
    script(src='/lib/bootstrap/js/bootstrap.min.js')
    script(src="/lib/d3/js/d3.v3.min.js")
    script(src="/lib/topojson/js/topojson.v1.min.js")
    script(src="/lib/crossfilter/js/crossfilter.min.js")
    script(src="/javascript/visualization.js")
    script
        generateVisualization("http://threatwiki.thesentinelproject.org/api/datapoint/soc/Kenya?callback=?",0,37,"/mapfiles/kenya.json",new Date(2012,05,01),"Kenya",6);
    script(src="/javascript/moment.min.js")
    script(src="/lib/mapbox/js/mapbox.js")
    script(src="/lib/leaflet/js/leaflet.markercluster.js")
    script(src="/lib/leaflet/js/L.Control.Zoomslider.js")
    script
      var _gaq=[["_setAccount","UA-24857452-2"],["_trackPageview"]];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
      g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
      s.parentNode.insertBefore(g,s)}(document,"script"));
    link(rel='stylesheet', href='/stylesheets/visualization.css')
    link(rel='stylesheet', href='/lib/mapbox/css/mapbox.css')
    link(rel='stylesheet', href='/lib/leaflet/css/L.Control.Zoomslider.css')
    link(rel='stylesheet', href='/lib/leaflet/css/MarkerCluster.Default.css')
    link(rel='stylesheet', href='/lib/leaflet/css/MarkerCluster.css')
  div(class='navbar navbar-inverse')
        div.navbar-inner
          div.container
            ul(class='nav')
                li
                  a(href='http://thesentinelproject.org/situations-of-concern-2/kenya/') Read more about our Kenya Situation of Concern Monitoring
            ul(class='nav pull-right')
                li
                    a(href='mailto:kenyasoc@thesentinelproject.org',style="display:inline-block;padding:0px;")
                        img(src='/images/mail-icon.png',style="height: 28px; width:35px;")
                    a(href='http://facebook.com/stopgenocide',target="_blank",style="display:inline-block;padding:0px;")
                        img(src='/images/facebooklogo.png',style="height: 32px; width:32px;")
                    a(href='http://twitter.com/sentinelproject',target="_blank",style="display:inline-block;padding:0px;")
                        img(src='/images/twitter-bird-dark-bgs.png',style="height: 36px; width: 36px;")
                    a(href='http://thesentinelproject.org',target="_blank",style="display:inline-block;padding:0px;")
                        img(src='/images/logoblack.png',style="height: 44px; width:auto;")
      div.container-fluid
        #logo
            div(align="center")
                h3 Threatwiki - Tracking and Mapping  
                    a(href="#", id="popovertitle", class="popover-link", data-delay"2000", data-title='<a href="#" style="float:none" class="close pull-right">&times;</a>', data-html="true", data-toggle="popover", data-placement="right", data-trigger="hover",data-content="Monitoring hate crimes is part of our <a href='http://thesentinelproject.org/our-work/early-warning-system-overview/' target='_blank'>Early Warning System</a> to help us identify communities at risk of genocide. <a href='http://thesentinelproject.org/launch-of-a-new-visualization-of-the-escalating-persecution-of-the-rohingya-muslim-minority-in-burma/' target='_blank'>Read our blog announcement for more details.</a>") Hate Crimes  
                        i(class="icon-info-sign")
                h4 Atrocities and Intercommunal Violence in Kenya
                br
        body
            include visualization