extends layout

block head
  script(src="/javascript/soc_form.js")

block pageContent
  //
    p Run a console to see JSON data.
    p Ctrl+Shift+K in Firefox with 'Net' and 'JS' sources enabled
    p Shift+Ctrl+I for Chromium
    hr/
  ul.breadcrumb
    li 
      a(href="/soc") List of SOC
    span.divider
    if (typeof(soc) != 'undefined')
      li.active Edit SOC
    else
      li.active New SOC
  div#post_form
    span.bold
      
      - if (typeof(soc) != 'undefined')
       form(id="soc_form_update",class="form-horizontal")
          input(name="id", value=soc._id, type="hidden")
          div(class="control-group")
            label(class="control-label",for="title") Title
            div(class="controls")
              input(type="text", name="title", value=soc.title)
          div(class="control-group")
            label.control-label Modified Date
              p #{soc.modified}
          div(class="control-group")
            label.control-label Modified By
              p #{soc.modifiedBy.name}
          div(class="control-group")
            label.control-label Created Date
              p #{soc.created}
          div(class="control-group")
            label.control-label Created By
              p #{soc.createdBy.name}
          div(class="form-actions")
            button(type="submit", class="btn btn-success") Save
      - else
        form(id="soc_form",class="form-horizontal")
          div(class="control-group")
            label(class="control-label",for="title") Title
            div(class="controls")
              input(type="text", name="title")
          div(class="form-actions")    
            button(type="submit", class="btn btn-success") Save
        
        
  //
    hr/
    div#get-div
      input(type="submit", value="$.get()", id="get")
    hr/
    span.bold
      p Status
    div#status
    hr/
    span.bold
      p Data
    div#result
    hr/
    span.bold
      p Poorly Consumed Data
    div#consumed
      table(id="consumed_table")

  script
    var soc_form = $('#soc_form');
    var soc_form_update = $('#soc_form_update');
    var referringURL = document.referrer;
