#pageContent

  a(href='soc/create',class='primaryButton',style="color:#fff") New

  table(class='table table-striped table-bordered')#soc.display
    thead
      tr
        th title
        th modified
        th by
        th created
        th by
        th actions
    tbody
     each soc, i in socs
        tr(id="row_"+soc._id)
          td
            a(href="/soc/edit?id="+soc._id) #{soc.title}
          td
            span #{soc.modified}
          td
            span #{soc.modifiedBy.name}
          td
            span #{soc.created}
          td
            span #{soc.createdBy.name}
          td 
            a(href="#", id="delete_"+soc._id) delete

