extends layout
block head
  script(src="/javascript/soc_list.js")

block pageContent
  ul.breadcrumb
    li.active List of SOC

  div.container-fluid
    div.row-fluid
      div.span2
        div(class="well sidebar-nav")
          ul(class="nav nav-list")
            li.nav-header Actions
              li 
                a(href='/soc/create') New SOC
            
      div.span10
        table(class='table table-striped table-bordered')#soc.display
          thead
            tr
              th Situation of Concerns
              th Last Created Datapoint
              th Last Created by User
              th Last Created Date
          tbody
           each soc, i in socs
              tr(id="row_"+soc._id)
                td
                  if (typeof(soc.displayname)!='undefined')
                    a(href="/soc/view?soc="+soc.title) #{soc.displayname}
                  else
                    a(href="/soc/view?soc="+soc.title) #{soc.title}
                if (typeof(datapoints) != 'undefined')
                  td
                    if (typeof(datapoints[i]) != 'undefined')
                      span #{datapoints[i].title}
                  td
                    if (typeof(datapoints[i]) != 'undefined')
                      span #{datapoints[i].createdBy.name}
                  td
                    if (typeof(datapoints[i]) != 'undefined')
                      span #{datapoints[i].created}
