extends layout

block head
  script(src="/javascript/soc_view.js")

block pageContent
  ul.breadcrumb
    li 
      a(href="/soc") List of SOC
      span.divider
    if (typeof(tag) == 'undefined')
      li.active SOC: #{soc.title}
    else
      li 
        a(href="/soc/view?soc="+soc.title) SOC: #{soc.title}
        span.divider
      each tagname, i in tag
        li.active Tag: #{tagname.title}
          span.divider
  div.container-fluid
    div.row-fluid
      div.span2
        div(class="well sidebar-nav")
          ul(class="nav nav-list")
            li.nav-header Actions
            li 
              if (typeof(tag) != 'undefined' && tag.length<2)
                a(href='/datapoint/create?soc='+soc.title+"&tag="+tag[0]._id) New Datapoint
              else
                a(href='/datapoint/create?soc='+soc.title) New Datapoint
            li
              a(href='/tag/create?soc='+soc.title) New Tag
            li
              a(href="/soc/edit?id="+soc._id) Edit SOC
            if (typeof(tag) != 'undefined' && tag.length<2)
              li
                a(href="/tag/edit?id="+tag[0]._id) Edit Tag
            if (typeof(tagsavailable) != 'undefined' && tagsavailable.length>0 && typeof(tag) == 'undefined')
              li.nav-header Refine Datapoints by Tags
              each tag, i in tagsavailable
                li 
                  a(href="/soc/view?soc="+soc.title+"&tag="+tag._id) #{tag.title}
            else if (typeof(tagsavailable) != 'undefined' && tagsavailable.length>0)
              li.nav-header Refine Datapoints by Tags
              each tag, i in tagsavailable
                li 
                  a(href="/soc/view?soc="+soc.title+"&tag="+tagurl+","+tag._id) #{tag.title}
      div.span10
        if (typeof(tag) != 'undefined' && tag.length<2)
          p.well Tag Description: #{tag[0].description}
        table(class='table table-striped table-bordered')#datapoint.display
          thead
            tr
              th Event
              th Location
              th Stage
              th Tags
              th Event Date
              th Modified
              th By
              th Created
              th By
          tbody
           each datapoint, i in datapoints
              tr(id="row_"+datapoint._id)
                td
                  a(href="/datapoint/edit?id="+datapoint._id) #{datapoint.title}
                td
                  span #{datapoint.Location.title}
                td
                  span #{datapoint.stage}
                td
                  each tags in datapoint.tags
                    span #{tags.title} <br />
                td
                  span #{datapoint.event_date}
                td
                  span #{datapoint.modified}
                td
                  span #{datapoint.modifiedBy.name}
                td
                  span #{datapoint.created}
                td
                  span #{datapoint.createdBy.name}