extends layout
block head
  script(src="/javascript/tag_form.js")

block pageContent
  //
    p Run a console to see JSON data.
    p  Ctrl+Shift+k in Firefox with 'Net' and 'JS' sources enabled
    p Shift+Ctrl+I for Chromium
    hr/
  ul.breadcrumb
    li
      a(href="/soc") List of SOC
      span.divider
    if (typeof(socname) == 'undefined' && typeof(tag) != 'undefined')
      li 
        a(href="/soc/view?soc="+tag[0].soc) SOC: #{soc.displayname}
        span.divider
      li 
        a(href="/soc/view?soc="+tag[0].soc+"&tag="+tag[0]._id) Tag: #{tag[0].title}
        span.divider
    else
      li
        a(href="/soc/view?soc="+socname) SOC: #{soc.displayname}
        span.divider
    if (typeof(tag) != 'undefined')
      li.active Edit Tag
    else
      li.active New Tag
  div#post_form
    span.bold
      - if (typeof(tag) != 'undefined')
        form(id="tag_form_update",class="form-horizontal")
          //we update an existing tag here
          input(name="id", value=tag[0]._id, type="hidden")
          input(name="socname", value=tag[0].soc, type="hidden")
          input(type="hidden", id="soc", name="soc", value=tag[0].soc)
          div(class="control-group")
            label(class="control-label",for="title") Title
            div(class="controls")
              input(type="text", name="title", value=tag[0].title)
          div(class="control-group")
            label(class="control-label",for="description") Description
            div(class="controls")
              textarea(name="description", rows="4", cols="60") #{tag[0].description}
          div(class="form-actions")    
            button(type="submit",class="btn btn-success") Save
            p   
            button(type="button",  id="archive", class="btn btn-danger") Archive
      - else
        //we create the tag here
        form(id="tag_form",class="form-horizontal")
          input(type="hidden", id="soc", name="soc", value=socname)
          div(class="control-group")
            label(class="control-label",for="title") Title
            div(class="controls")
              input(type="text", name="title")
          div(class="control-group")
            label(class="control-label",for="description") Description
            div(class="controls")
              textarea(name="description", rows="4", cols="60")
          div(class="form-actions")    
            button(type="submit",class="btn btn-success") Save

  script
    var tag_form = $('#tag_form');
    var tag_form_update = $('#tag_form_update');
    var referringURL = document.referrer;

