#pageContent
  //
    p Run a console to see JSON data.
    p  Ctrl+Shift+k in Firefox with 'Net' and 'JS' sources enabled
    p Shift+Ctrl+I for Chromium
    hr/
  ul.breadcrumb
    li
      a(href="/soc") List of SOC
    span.divider
    if (typeof(socname) == 'undefined' && typeof(tag) != 'undefined')
      li 
        a(href="/soc/view?soc="+tag.soc) SOC: #{tag.soc}
      span.divider        
      li 
        a(href="/soc/view?soc="+tag.soc+"&tag="+tag._id) Tag: #{tag.title}
    else
      li
        a(href="/soc/view?soc="+socname) SOC: #{socname}
      

    span.divider
    if (typeof(tag) != 'undefined')
      li.active Edit Tag
    else
      li.active New Tag
  div#post_form
    span.bold
      - if (typeof(tag) != 'undefined')
        form#tag_form_update
          //we update an existing tag here
          input(name="id", value=tag._id, type="hidden")
          input(type="hidden", id="soc", name="soc", value=tag.soc)
          //
            label(for="soc") SOC
            select(name="soc", id="soc")
              option(selected=tag.soc, value=tag.soc) #{tag.soc}
          label(for="title") Title
          input(type="text", name="title", value=tag.title)
          label(for="description") Description
          textarea(name="description", rows="4", cols="60") #{tag.description}
          br/
          input(type="submit", value="Save")
      - else
        //we create the tag here
        form#tag_form
          input(type="hidden", id="soc", name="soc", value=socname)
          label(for="title") Title
          input(type="text", name="title")
          label(for="description") Description
          textarea(name="description", rows="4", cols="60")
          br/
          input(type="submit", value="Save")
  //
    hr/
    div#get-div
      input(type="submit", value="$.get()", id="get")
    hr/
    span.bold
      p Status
    div#status
    hr/
    span.bold
      p Data
    div#result
    hr/
    span.bold
      p Poorly Consumed Data
    div#consumed
      table(id="consumed_table")

script
  var tag_form = $('#tag_form');
  var tag_form_update = $('#tag_form_update');
