extends layout
block head
  script(src="/javascript/tag_form.js")

block pageContent
  //
    p Run a console to see JSON data.
    p  Ctrl+Shift+k in Firefox with 'Net' and 'JS' sources enabled
    p Shift+Ctrl+I for Chromium
    hr/
  ul.breadcrumb
    li
      a(href="/soc") List of SOC
      span.divider
    if (typeof(socname) == 'undefined' && typeof(tag) != 'undefined')
      li 
        a(href="/soc/view?soc="+tag.soc) SOC: #{tag.soc}
        span.divider        
      li 
        a(href="/soc/view?soc="+tag.soc+"&tag="+tag._id) Tag: #{tag.title}
    else
      li
        a(href="/soc/view?soc="+socname) SOC: #{socname}
        span.divider
    if (typeof(tag) != 'undefined')
      li.active Edit Tag
    else
      li.active New Tag
  div#post_form
    span.bold
      - if (typeof(tag) != 'undefined')
        form(id="tag_form_update",class="form-horizontal")
          //we update an existing tag here
          input(name="id", value=tag._id, type="hidden")
          input(name="socname", value=tag.soc, type="hidden")
          input(type="hidden", id="soc", name="soc", value=tag.soc)
          div(class="control-group")
            label(class="control-label",for="title") Title
            div(class="controls")
              input(type="text", name="title", value=tag.title)
          div(class="control-group")
            label(class="control-label",for="description") Description
            div(class="controls")
              textarea(name="description", rows="4", cols="60") #{tag.description}
          div(class="form-actions")    
            button(type="submit",class="btn btn-success") Save
            p   
            button(type="button",  id="archive", class="btn btn-danger") Archive
      - else
        //we create the tag here
        form(id="tag_form",class="form-horizontal")
          input(type="hidden", id="soc", name="soc", value=socname)
          div(class="control-group")
            label(class="control-label",for="title") Title
            div(class="controls")
              input(type="text", name="title")
          div(class="control-group")
            label(class="control-label",for="description") Description
            div(class="controls")
              textarea(name="description", rows="4", cols="60")
          div(class="form-actions")    
            button(type="submit",class="btn btn-success") Save
  //
    hr/
    div#get-div
      input(type="submit", value="$.get()", id="get")
    hr/
    span.bold
      p Status
    div#status
    hr/
    span.bold
      p Data
    div#result
    hr/
    span.bold
      p Poorly Consumed Data
    div#consumed
      table(id="consumed_table")

  script
    var tag_form = $('#tag_form');
    var tag_form_update = $('#tag_form_update');
    var referringURL = document.referrer;

