#pageContent

  a(href='tag/create',class='primaryButton',style="color:#fff") New

  table#tag.display
    thead
      tr
        th title
        th soc
        th modified
        th by
        th created
        th by
        th actions
    tbody
     each tag, i in tags
        tr(id="row_"+tag._id)
          td
            a(href="/tag/edit?id="+tag._id) #{tag.title}
          td
            span #{tag.soc}
          td
            span #{tag.modified}
          td
            span #{tag.modifiedBy.name}
          td
            span #{tag.created}
          td
            span #{tag.createdBy.name}
          td 
            a(href="#", id="delete_"+tag._id) delete
